.DifficultyButtons {
    margin-bottom: 1.25em;
    display: flex;
    flex-direction: row;

}

.DifficultyButtons button {
    margin-left: 1.25em;
    cursor: pointer;
    border: 0.125em solid black;
    text-align: center;
    
}


.DifficultyButtons button.active {
    background-color: #4CAF50; 
    color: white; 
}