.guessed-group {
    width: 50em;
    opacity: 0;
    transform: translateY(-20px);
    margin-bottom: 0.25em; 
    border-radius: 0.5em;
    text-align: center;
    animation: fadeIn 1.5s forwards;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.guessed-words {
    font-weight: 400;
    font-size: 1.2em; 
    color: black; 
}

.guessed-category {
    color: black;
}


@keyframes fadeIn {
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}

/* Media Queries for Responsiveness */


@media (max-width: 1024px) {
    .guessed-group {
        width: 45em; 
    }

    .guessed-words {
        font-size: 1.1em; 
    }
}


@media (max-width: 768px) {
    .guessed-group {
        width: 35em; 
    }

    .guessed-words {
        font-size: 1em; 
    }
}


@media (max-width: 640px) {
    .guessed-group {
        width: 30em; 
    }

    .guessed-words {
        font-size: 0.95em; 
    }
}


@media (max-width: 480px) {
    .guessed-group {
        width: 25em; 
    }

    .guessed-words {
        font-size: 0.9em; 
    }
}


@media (max-width: 400px) {
    .guessed-group {
        width: 20em; 
    }

    .guessed-words {
        font-size: 0.85em; 
    }
}