.Lives {
    margin-left: 0.5em;
    background-color: rgb(88, 82, 68);
    height: 1em;
    width: 1em;
    border-radius: 50%;
    
}

@media (max-width: 600px) {
    .Lives {
        height: 0.75em;
        width: 0.75em;
    }
}